<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>项目管理</title>
        <!--主要使用的字体-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='owl-slider/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='owl-slider/assets/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icons-fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icons-linear.css') }}">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='style-responsive.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='owl-slider/owl.carousel.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script>
            jQuery(document).ready(function( $ ) {
                $('.counter').counterUp({
                    delay: 10,
                    time: 2000
                });
            });
        </script>    
    </head>

    <body>
        <div class="dashboard">
            <!--左边菜单栏-->
            <div class="sidebar" id="sidebar">
                <div class="profile">
                    <img src="{{url_for('static',filename='images/avatar.png')}}" alt="Avatar" class="avatar">
                    <h3 class="yourname">John Doe</h3>
                </div>
                <ul class="lmenu">
                    <li><a href="{{url_for('main.home')}}" class="active">项目大厅</a></li>
                    <li><a href="{{url_for('main.myprojects')}}">项目管理</a></li>
                    <li><a href="{{url_for('main.message')}}">消息</a></li>
                    <li><a href="{{url_for('main.myhome')}}">我的</a></li>
                    <li><a href="{{url_for('main.logout')}}">注销</a></li>
                </ul>
            </div>
            <!--中间项目内容区域-->
            <div class="projectcontent">
                <h1 class="welcome-title">项目名称：</h1>
                <form id="create-project-form" class="create-project-form" action="createproject" method="post">
                    <label for="project-name">项目名称：</label>
                    <input type="text" id="project-name" name="project-name" required>

                    <label for="create-category">项目分类：</label>
                    <select id="create-category" required>
                        <option value="科研项目">科研项目</option>
                        <option value="比赛">比赛</option>
                        <!--可以添加更多分类-->
                    </select>

                    <label for="manager">项目负责人：</label>
                    <input type="text" id="manager" name="manager" required>

                    <label for="project-description">项目描述：</label>
                    <textarea id="project-description" name="description" required></textarea>

                    <label for="image">上传展示图片：</label>
                    <input type="file" id="image" name="image" accept="image/*" required>

                    <label for="participants">项目需求：</label>
                    <textarea id="participants" name="participants" required></textarea>

                    <label for="participants-number">招收人数：</label>
                    <input type="number" id="participants-number" name="participants-number" required>

                    <button type="submit">创建项目</button>
                </form>
            </div>


        </div>
        
    </body>

</html>