<!DOCTYPE html>
<html lang="zh">
    {% include 'head.html' %}
    <body>
        <div class="dashboard">
            {% include 'sidebar.html' %}

            <!--中间项目内容区域-->
            <div class="projectcontent">
                <h1 class="welcome-title">欢迎来到项目大厅</h1>
                <div class="projects">
                    {% for project in projects %}
                    <div class="project-item" onclick="location.href='{{ url_for('main.project', project_id=project.id) }}'">
                        <div class="project-header">
                            <span class="category">{{ project.project_type }}</span>
                            <h2>{{ project.project_name }}</h2>
                        </div>
                        <p class="description">项目简负责人: {{ project.project_leader }}</p>
                        <p class="participants">项目简介: {{ project.description }}</p>
                        <p class="participants">项目需求：{{ project.requirements }}</p>
                    </div>
                    {% endfor %}
                    <!-- 更多项目 -->
                </div>
            </div>

        </div>
    </body>

</html>